.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
}
.header-logo {
  width: 7%;
}
.header nav div {
  list-style: none;
  display: flex;
  margin-right: 10px;
  color: black;
}
.header nav a {
  text-decoration: none;
  margin-right: 50px;
  cursor: pointer;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
}
.header nav li:hover {
  color: white;
}

.header__btns {
  display: flex;
}

.btns__item {
  height: 30px;
  background-color: blue;
  font-size: 18px;
  border: 1px solid blue;
  margin-left: 10px;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
